.appWrapper {
  min-height: 100%;
  justify-content: center;
  display: flex;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-text {
  position: relative;
}

.logo-img {
  font-size: 40px;
  color: #007f60;
  font-weight: 700;
}

.search {
  padding: 0;
  height: 30px;
  border-width: 0;
  display: block;
  width: 100%;
}

.search:focus {
  border: 0;
  outline: none !important;
}

.searchIconWrapper {
  position: absolute;
  top: 12px;
  left: 10px;
}

.searchIcon {
  width: 25px;
}

.list-group-item {
  border: none;
}

.nom-btn {
  background-color: #007f60;
  border: 1px solid #027054;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  color: #ffffff;
}

.nom-btn-disabled {
  background-color: gray;
  border: 1px solid gray;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  color: #ffffff;
}

.nom-btn:hover,
.nom-btn:active,
.nom-btn:focus {
  background-color: #006e52;
  outline: #006e52;
}

.nom-btn-disabled:hover,
.nom-btn-disabled:active,
.nom-btn-disabled:focus {
  background-color: gray;
  outline: gray;
}

.rem-btn {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  color: #ffffff;
}

.rem-btn:hover,
.rem-btn:active,
.rem-btn:focus {
  background-color: #bd2130;
  border-color: #b21f2d;
  outline: #b21f2d;
}
