.appWrapper {
  font-family: 'Poppins';

  min-height: 100%;
  justify-content: center;
  display: flex;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-text {
  position: relative;
}

.logo-img {
  font-size: 40px;
  color: #007f60;
  font-weight: 700;
}

.search {
  padding: 0;
  height: 30px;
  border-width: 0;
  display: block;
  width: 100%;
}

.search:focus {
  border: 0;
  outline: none !important;
}

.searchIconWrapper {
  position: absolute;
  top: 12px;
  left: 10px;
}

.searchIcon {
  width: 25px;
}

.list-group-item {
  border: none;
}

.nom-btn {
  background-color: #007f60;
  border: 1px solid #027054;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  color: #ffffff;
}

.nom-btn-disabled {
  background-color: gray;
  border: 1px solid gray;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  color: #ffffff;
}

.nom-btn:hover,
.nom-btn:active,
.nom-btn:focus {
  background-color: #006e52;
  outline: #006e52;
}

.nom-btn-disabled:hover,
.nom-btn-disabled:active,
.nom-btn-disabled:focus {
  background-color: gray;
  outline: gray;
}

.rem-btn {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  color: #ffffff;
}

.rem-btn:hover,
.rem-btn:active,
.rem-btn:focus {
  background-color: #bd2130;
  border-color: #b21f2d;
  outline: #b21f2d;
}

.note {
  font-style: italic;
}

.movieList {
  height: 500px;
  overflow-y: scroll;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movieList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px  #ffffff;
	-webkit-box-shadow: inset 0 0 6px  #ffffff;
	border-radius: 10px;
	background-color: #ffffff;
}

.movieList::-webkit-scrollbar {
	width: 3px;
}

.movieList::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px  #bfbfbf;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #bfbfbf;
}

.nominee-alert {
  position: fixed;
  width: 100%;
  z-index: 100;
  animation-name: slideInDown;
  animation-duration: 500ms;
  animation-fill-mode: both;
}

@keyframes slideInDown {
  0% {
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  transform: translateY(0);
  }
  } 
