@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222427;
  background: #ffffff;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./fonts/Poppins/Poppins-Regular.ttf');
}